# Path to the JSON config used by the pipeline
CONFIG_PATH=/leonardo_work/IscrC_CardioAI/data-etl/config.json

# Hugging Face
HF_TOKEN=

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=

# Knowledge Graph chat model
KG_CHAT_MODEL=Qwen/Qwen2.5-14B-Instruct
KG_CHAT_MODEL_PATH=/leonardo_work/IscrC_CardioAI/models/Qwen2.5-14B-Instruct

# Knowledge Graph embedding model
KG_EMBEDDING_MODEL=Qwen/Qwen3-Embedding-8B
KG_EMBEDDING_MODEL_PATH=/leonardo_work/IscrC_CardioAI/models/Qwen3-Embedding-8B

# KG generation / loading options
KG_CHAT_MAX_NEW_TOKENS=1024
KG_LOCAL_FILES_ONLY=true
MIN_TEXT_CHARS_TO_EMBED=20